@import "tailwindcss";

#root {
  width: 100vw;
  height: 100vh;
  margin: 0;
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
}


html, body{
  height: 100%;
  width: 100%;
  margin: 0;    
  padding: 0;  
}

h2{
  text-align:inherit;
  font-size: 12px;
  
}

.loginPage {
  position: relative; /* Set as relative to contain absolute children */
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.bbPhoto{
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensures full coverage */
}

.loginPhotoDiv{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; /* Push to the background */

}


.loginDiv{
  position: absolute;
  top: 50%;
  left: 81%;
  transform: translate(-50%, -50%); /* Center */
  width: 35%;
  height: 98%;
 
  padding: 2rem;
  background-color: #03426bec;
  border-radius: 5px;
  text-align: center;
  color: white;
  box-shadow: #070706;
}

.credentialsDiv{
width: 60%;
margin-left: auto;
margin-right: auto;
}

.loginP{
  text-align: left;
}

.loginFieldContainer {
  position: relative;
  display: flex;
  align-items: center;
}

.fieldIcon {
  position: absolute;
  left: 10px; 
  color: gray;
}

.fields {
  width: 50%;
  padding-left: 35px;
  height: 40px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #ccccccd0;
  color: aliceblue;
  font-family: 'Times New Roman', Times, serif;
  width: 100%;
}

.fields:focus{
    outline: none;
    border-color: #93c5fd;
    box-shadow: 0 0 0 2px rgba(56, 189, 248, 0.4); /*ring effect*/
}

.loginButton{
  background-color: #e0bc1d;
  border-radius: 5px;
  font-size: 20px;
  width: 25%;
  font-family: 'Times New Roman', Times, serif;
  transition: all 0.3s ease;
}

.loginButton:hover{
  background-color: #cdbe79;
}

.signUpLink{
  background-color: #cccccc00;
  border-color: #cccccc00;
  font-style: italic;
  font-family: 'Times New Roman', Times, serif;
  position: relative;
  text-decoration: underline;
}

.signUpLink:hover{
  color: #ffd926;
}

.signUpContainer{
  background: linear-gradient(to top, #64b8d4, #429dd1,#1a7ec5, #1273b8,#016ebc);
  height: 100%;
  display: grid;
  grid-template-columns: 60% 40%;
  width: auto;
  overflow-y: scroll;
  place-items: center;
}

.signUpLeft{
  border: #070706;
  align-items: flex-start;
  background-color: #282a3586;
  color: #fff;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: flex-start;
  padding: 0 60px 60px;
}

.signUpRight{
  border: #070706;
  border-style: double;
  margin: 15px;
  background-color: #f8f6f6;
  border-radius: 5%;
  width:25vw;
  height: 80vh;
  box-shadow: 10px 10px 5px 12px lightblue;
}

.registrationForm{
  border: #070706;
  border-width: 12px;
  border-style: groove;
  width: 50%;
  align-items: center;
}

.profilePage{
  display: grid;
  grid-template-columns: 30% 70%;
  border-color: #e2c43f;
  border-style: double;
  border-width: 1px;
  background-color: #ccc;
  margin: 20px;
  
}

.userLeftDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px;
  background-color: #f1f3fb;
  color: rgb(41, 51, 94);
}

.userRightDiv {
  display: flex;
  flex-direction: column;
  background-color: rgb(72, 102, 143);
  height: auto;
}
.resumeButton{
  background-color: #ffd926;
  border-radius: 5px;
  font-size: 15px;
  width: 30%;
  height: auto;
  font-family: 'Times New Roman', Times, serif;
  margin-top: 10px;
  transition: all 0.3s ease;
}

.yourPostsDiv {
  background-color: rgb(132, 165, 212);
  text-align: center;
  width: 100%;
  color:rgb(72, 102, 143);
}

.profH1{
  text-align: left;
  font-size: 20px;
  color:#ffd926;
}

.navbar{
  background-color: #00487d;
}
.navLinks a{
  color: white;
  
}

.navLinks a:hover{
  color: #ffd926
  
}

.bcatPicNavBar img{
  height: 8vh;
}

.postDiv{
  display:flex;
  flex-direction:column;
  align-items: center; 
  text-align: center;
  background: #f8f6f6;
  height: 91vh;

}

.addButton{
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 80px;
  height: 80px;
  background-color:#00487d;
  border-radius: 100%;
  transition: all 0.3s ease;
}

.addButton:hover{
  background-color: #6786ec;
}

.addFriend{
  background-color: #ffd926;
  border-radius: 5px;
  font-size: 20px;
  width: 150px;
  height: 50px;
  font-family: 'Times New Roman', Times, serif;
  transition: all 0.3s ease;

}

.addFriend:hover{
  background-color: #ffe677;
}

.deleteRecc{
  background-color: #070706;
  border-radius: 5px;
  font-size: 20px;
  width: 150px;
  height: 50px;
  font-family: 'Times New Roman', Times, serif;
  transition: all 0.3s ease;

}

.deleteRecc:hover{
  background-color: #363531;
}
